*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    -webkit-text-size-adjust: 100%;
    position: relative;
    height: 100%;
    padding-bottom: 10px;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    width: 95%;
    padding: 5px;
    border-radius: 50px;
    align-items: center;
    position: fixed;
    top: 10px;
    box-shadow: 1px 1px 4px rgb(213, 211, 211),
                -1px -1px 4px rgb(213, 211, 211);
    z-index: 10;
}
.finpay{
    min-width: 15%;
    font-size: 1.8em;
}
.login{
    min-width: 40%;
    display: flex;
    justify-content: flex-end;
    margin: 1px;
}
.log, .sign-up{
    width: 100px;
    height: 33px;
    margin-right: 5px;
    border-radius: 10px;
    border: 1px;
}
.log{
    background: none;
    border: 1px solid rgb(0, 128, 126);
    color:rgb(0, 128, 126);
    font-weight: 700;
    transition: 0.5s;
}
.log:hover{
    background: rgb(0, 128, 126);
    color: white;
}
.sign-up{
    background:  rgb(0, 128, 126);
    border: 1px solid rgb(0, 128, 126);
    color:white;
    font-weight: 700;
    transition: 0.5s;
}
.sign-up:hover{
    background: none;
    color: rgb(0, 128, 126);
}
.product{
    font-size: 1em;
    transition: 0.3s;
}
.product:hover{
    border-bottom: 3px solid  rgb(0, 128, 126);
}
.colored-div{
    width: 100%;
    background-color: rgb(241, 249, 246);
    margin-top: -200px;
    padding-top: 400px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.hero-section{
    display: flex;
    column-gap: 50px;
}
.topic{
    font-size: 3.7em;
    color: rgb(0, 60, 42);
    display: inline-block;
    margin-bottom: 30px;
}
.sub-topic{
    font-size: 1em;
    font-weight: 600;
    color: rgba(1, 47, 46, 0.547);
    margin-top: 20px;
}
.sub-div{
    background-color: white;
    max-width: 270px ;
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgba(0, 128, 126, 0.259);
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 10px;
    box-shadow: inset 1px 1px 4px rgb(213, 211, 211),
                -1px -1px 4px rgb(213, 211, 211);
}
input{
    outline: none;
    border: none;
}
input::placeholder{
    color: rgba(1, 47, 46, 0.547);
    font-size: 1.1em;
    padding-left: 10px;
}
.klarma{
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    max-width: 290px;
    font-weight: 800;
    margin-top: 20px;
    color: rgb(0, 49, 48);
}
/* right hero*/
.right{
    display: flex;
    flex-direction: column;
    width: 350px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgb(213, 211, 211),
                -1px -1px 4px rgb(213, 211, 211);
}
.cover{
    display: flex;
    column-gap: 5px;
}
.Dipa{
    align-self: flex-end;
}
.symbol{
    width: 50px;
    height: 50px;
    background:rgb(0, 128, 126) ;
    display: inline-block;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    border-radius: 10px;
}
.account{
    height: 80px;
    display: flex;
    row-gap: 3px;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    border: 1px solid rgb(203, 244, 243);
    border-radius: 10px;
    margin-top: 20px;
}
.dollar{
    font-size: 2em;
    color: rgb(0, 60, 42);
    font-weight: 600;
}
.invoice{
    font-size: 0.9em;
    font-weight: 600;
    color: rgba(1, 47, 46, 0.547);
}
.credit{
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(203, 244, 243);
    border-radius: 10px;
    padding-left: 10px;
    padding-left: 10px;
    color: rgb(3, 131, 128);
    font-weight: 700;
    font-size: 0.8em;
    transition-delay: 1s;
}
.credit:hover{
    border: 2px solid rgb(4, 46, 45);
    transition: 0s;
}
.pay{
    color: white;
    background:rgb(12, 77, 69);
    border-radius: 10px;
    margin-top: 10px;
    height: 30px;
    transition: 0.5s;
}
.pay:hover{
    border: 1px solid rgb(12, 77, 69);
    background: none;
    color: rgb(12, 77, 69);
}
@media (max-width:600px) {
      .hero-section{
        flex-direction: column;
        margin-top: 50px;
        padding: 20px;
        width: 100%;
      }  
      .product{
        display: none;
      }
      .topic{
        font-size: 3em;
      }
      .left{
        margin-bottom: 50px;
      }
      .right{
        width: 80%;
        margin: auto;
      }
      body{
        width: 100%;
        overflow-x: hidden;
        margin: 0;
        -webkit-text-size-adjust: 100%;
        height: 100%;
      }
      .colored-div{
        padding-top: 200px;
      }
}
blockquote{
    width: 70%;
    background-color: white;
    padding: 100px; 
    box-shadow: 1px 1px 4px rgb(180, 179, 179),
                -1px -1px 4px rgb(180, 179, 179);
    border-radius: 10px;
}
.future{
    font-size: 0.9em;
    font-weight: 600;
    color: rgba(1, 47, 46, 0.547);
    margin-bottom: 10PX;
    display: inline-block;
}
.experience{
    font-size: 3.4rem;
    color: rgb(0, 60, 42);
    display: inline-block;
}
.role2{
    display: flex;
    justify-content: space-between;
}
.design{
    font-size: 0.9em;
    font-weight: 600;
    color: rgba(23, 62, 62, 0.547);
    margin-bottom: 10PX;
    display: inline-block;
}
.paymethod{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.head{
    display: block;
    color: rgb(37, 51, 59);
}
.body{
    font-size: 0.8em;
    font-weight: 600;
    color: rgba(23, 62, 62, 0.547);
    margin-bottom: 10PX;
    display: inline-block;
}
.span{
    width: 50px;
    height: 50px;
    background:rgb(0, 128, 126) ;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 20px;
}
@media (max-width:600px){
    blockquote{
    width: 95%;
    background-color: white;
    padding: 5px; 
    box-shadow: 1px 1px 4px rgb(180, 179, 179),
                -1px -1px 4px rgb(180, 179, 179);
    border-radius: 10px;
    padding-top: 20px;
    margin: auto;
}
.role2{
    display: block;
}
.experience{
    font-size: 2rem;
    margin-bottom: 20px;
}
.paymethod{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    row-gap: 30px;
    padding: 20px;
}
}
article{
    margin-top: 100px;
    width: 100%;
}
.sub{
    text-align: center;
    display: block;
    font-size: 0.8em;
    font-weight: 600;
    color: rgba(23, 62, 62, 0.547);
    margin-bottom: 10PX;
}
.main{
    text-align: center;
    display: block;
    font-size: 2em;
    font-weight: 600;
    color: rgba(1, 83, 83, 0.988);
    margin-bottom: 10PX;
}
.article-card1{
    width: 350px;
    height: 180px;
    background-color: rgb(215, 243, 233);
    display: inline-block;
    border-radius: 10px;
    padding: 40px;
}
.why-space{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.article-head{
    font-size: 4rem;
    margin-bottom: 20px;
    display: block;
    color:rgb(0, 128, 126);
    font-weight: 600;
}
.article-body{
    display: block;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(1, 83, 83, 0.988);
}
.why-space2{
    display: flex;
    justify-content: center;
    width: 100%;
}
.article-card2{
    width: 810px;
    height: 180px;
    background-color: rgb(215, 243, 233);
    display:flex;
    justify-content: space-evenly;
    border-radius: 10px;
    padding: 40px;
    margin-top: 30px;
    align-items: center;
}
.article-head2{
    display: block;
    font-size: 1.3rem;
    font-weight: 600;
    color: rgba(1, 83, 83, 0.988);
    margin-bottom: 10px;
}
.article-body2{
    display: block;
    font-size: 0.7rem;
    font-weight: thin;
    color: rgba(1, 62, 62, 0.988);
    margin-bottom: 10px;
}
.card2a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 170px;
}
.card2b{
    width: 450px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgb(180, 179, 179),
                -1px -1px 4px rgb(180, 179, 179);
    padding: 10px;
}
.inside{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.hr{
    width: 100px;
    height: 20px;
    border-top: 2px solid rgb(59, 58, 58);
    border-bottom: 2px solid rgb(59, 58, 58);
    align-self: center;
}
@media (max-width:600px){
    .why-space{
    display: block;
    }
    .article-card1{
    width: 80%;
    height: 180px;
    background-color: rgb(215, 243, 233);
    display: block;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
}
.card2b{
    width: 110%;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgb(180, 179, 179),
                -1px -1px 4px rgb(180, 179, 179);
    padding: 10px;
}
.article-card2{
   width: 100%;
   border-radius: 0px;
   padding: 20px;
   padding-left: 10px;
    
}
}
.blue{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgb(8, 66, 93);
    margin-top: 40px;

}
.step{
    color: rgba(127, 255, 212, 0.595);
    display: block;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-left: 12%;
}
.maximize{
    color: white;
    font-size: 1.9em;
    display: block;
    margin-left: 12%;

}
.step-card{
    width:300px;
    height: 100%;
    background-color: rgb(1, 73, 106);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgb(1, 47, 77),
                -1px -1px 4px rgb(1, 47, 77);
}
.number{
    display: block;
    font-size: 4.9rem;
    font-weight: 700;
    margin-left: 20px;
    background: linear-gradient(180deg, white, white, transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header{
    display: block;
    color: white;
    font-size: 1rem;
    margin-bottom: 8px;
}
.in-body{
    display: block;
    color: rgba(255, 255, 255, 0.632);
    font-size: 0.6rem;
}
.card-container{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 50px;
}
@media (max-width:600px) {
    .number{
        font-size: 3em;
    }
    .step-card{
        padding: 2%;
    }
    .card-container{
        column-gap: 10px;
        padding: 6px;
    }
    .maximize{
        font-size: 1.5rem;
    }
}
.main-container-1{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.down{
    font-size: 0.7em;
    font-weight: 600;
    color: rgba(23, 62, 62, 0.547);
    margin-bottom: 10PX;
    display: inline-block;
    text-align: center;
}
.mission{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.step-card24{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px
}
.number24{
    display: block;
    font-size: 3.3rem;
    font-weight: 500;
    color: rgb(2, 2, 67);
}
.header24{
    display: block;
    color: rgba(23, 62, 62, 0.547);
    font-size: 0.8rem;
    margin-bottom: 8px;
    font-weight: bold;
}
.choose{
    display: block;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 550;
    color: rgb(1, 114, 114);
    margin-top: 30px;
    margin-bottom: 20px;
}
.main-card{
    width: 100%;
    height: 100%;
    display: flex;
    column-gap: 30px;
}
.atm1{
    width: 350px;
    height: 180px;
    background-color: rgb(237, 240, 240);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 100px;
    padding-left: 20px;
}
.top{
    color: rgb(1, 46, 72);
    font-size: 2rem;
    font-weight: 500;
    margin-top: 10px;
}
.bottom{
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: rgb(1, 46, 72);
    font-weight: bold;
}
.atm2{
    width: 350px;
    height: 180px;
    background-color: rgb(83, 155, 165);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 100px;
    padding-left: 20px;
}
.bottom2{
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
}
.top2{
    color: white;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 10px;
}
@media (max-width:600px) {
    .mission{
        flex-wrap: wrap;
    }
    .main-card{
        flex-direction: column;
        row-gap: 20px;
    }
    .atm1{
        width: 90%;
        margin: auto;
    }
    .atm2{
        width: 90%;
        margin: auto;
    }
}
.blue2{
    background: rgb(8, 66, 93);
    width: 90%;
    min-height: 100px;
    margin-top: 70px;
    border-radius: 15px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 80px;
    margin-bottom: 30px;
}
.try{
    font-size: 1rem;
    display: block;
    font-weight: 600;
    color: rgba(127, 255, 212, 0.696);
    margin-bottom: 10px;
}
.ready{
    font-size: 2.7rem;
    color: white;
    display: block;
    margin-bottom: 20px;
}
.support{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.697);
    display: block;
    margin-bottom: 20px;
}
.b{
    display: flex;
}
.get-start, .learn{
    padding: 20px;
    margin: 2px;
    border-radius: 15px;
    border: 1px solid rgba(79, 176, 203, 0.593);
    color: white;
    outline: none;
}
.get-start{
    background-color: rgb(79, 176, 203);
}
.learn{
    background: transparent;
}
@media (max-width:600px) {
    .blue2{
        flex-direction: column;
        padding: 20px 15px 40px 15px;
    }
    .ready{
        font-size: 2rem;
    }
    .text{
        font-size: 0.8em;
    }   

}
footer{
    display: flex;
    margin: auto;
    width: 90%;
}
.finbar{
    display: flex;
    column-gap: 3px;
    width: 25%;
}
.fin{
    width: 20px;
    height: 20px;
    background-color: rgb(30, 52, 78);
    border-radius: 5px;
}
.text{
    display: block;
    color:  rgb(30, 52, 78);
    font-weight: bold;
}
.solutions{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.solution-container{
    display: flex;
    width: 58%;
    column-gap: 5%;
}
.sol{
    font-size: 1rem;
    font-weight: bold;
    color: rgba(3, 47, 51, 0.836);
}
.small{
    font-size: 0.8rem;
    font-weight: bold;
    color:  rgba(3, 47, 51, 0.501);
}
.follow{
    width: 23%;
    display: flex;
    justify-content: flex-end;
}
@media (max-width:600px) {
    .small{
    font-size: 0.5rem;
    font-weight: bold;
    color:  rgba(3, 47, 51, 0.501);
}   
    .sol{
    font-size: 0.7rem;
    font-weight: bold;
    color: rgba(3, 47, 51, 0.836);
}
.follow{
    font-size: 0.6rem;
}
.last{
    font-size: 0.6rem;
}
}
