*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 249, 246);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    -webkit-text-size-adjust: 100%;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    width: 80%;
    padding: 5px;
    border-radius: 50px;
    align-items: center;
    position: fixed;
    top: 10px;
}
.finpay{
    min-width: 15%;
    font-size: 1.8em;
}
.login{
    min-width: 40%;
    display: flex;
    justify-content: flex-end;
    margin: 1px;
}
.log, .sign-up{
    width: 100px;
    height: 33px;
    margin-right: 5px;
    border-radius: 10px;
    border: 1px;
}
.log{
    background: none;
    border: 1px solid rgb(0, 128, 126);
    color:rgb(0, 128, 126);
    font-weight: 700;
    transition: 0.5s;
}
.log:hover{
    background: rgb(0, 128, 126);
    color: white;
}
.sign-up{
    background:  rgb(0, 128, 126);
    border: 1px solid rgb(0, 128, 126);
    color:white;
    font-weight: 700;
    transition: 0.5s;
}
.sign-up:hover{
    background: none;
    color: rgb(0, 128, 126);
}
.product{
    font-size: 1em;
    transition: 0.3s;
}
.product:hover{
    border-bottom: 3px solid  rgb(0, 128, 126);
}
.hero-section{
    display: flex;
    column-gap: 50px;
}
.topic{
    font-size: 3.7em;
    color: rgb(0, 60, 42);
    display: inline-block;
    margin-bottom: 30px;
}
.sub-topic{
    font-size: 1em;
    font-weight: 600;
    color: rgba(1, 47, 46, 0.547);
    margin-top: 20px;
}
.sub-div{
    background-color: white;
    max-width: 270px ;
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgba(0, 128, 126, 0.259);
    border-radius: 15px;
    margin-top: 30px;
}
input{
    outline: none;
    border: none;
}
input::placeholder{
    color: rgba(1, 47, 46, 0.547);
    font-size: 1.1em;
    padding-left: 10px;
}
.klarma{
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    max-width: 290px;
    font-weight: 800;
    margin-top: 20px;
    color: rgb(0, 49, 48);
}
/* right hero*/
.right{
    display: flex;
    flex-direction: column;
    width: 350px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgb(213, 211, 211),
                -1px -1px 4px rgb(213, 211, 211);
}
.cover{
    display: flex;
    column-gap: 5px;
}
.Dipa{
    align-self: flex-end;
}
.symbol{
    width: 50px;
    height: 50px;
    background:rgb(0, 128, 126) ;
    display: inline-block;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    border-radius: 10px;
}
.account{
    height: 80px;
    display: flex;
    row-gap: 3px;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    border: 1px solid rgb(203, 244, 243);
    border-radius: 10px;
    margin-top: 20px;
}
.dollar{
    font-size: 2em;
    color: rgb(0, 60, 42);
    font-weight: 600;
}
.invoice{
    font-size: 0.9em;
    font-weight: 600;
    color: rgba(1, 47, 46, 0.547);
}
.credit{
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(203, 244, 243);
    border-radius: 10px;
    padding-left: 10px;
    padding-left: 10px;
    color: rgb(3, 131, 128);
    font-weight: 700;
    font-size: 0.8em;
    transition-delay: 1s;
}
.credit:hover{
    border: 2px solid rgb(4, 46, 45);
    transition: 0s;
}
.pay{
    color: white;
    background:rgb(12, 77, 69);
    border-radius: 10px;
    margin-top: 10px;
    height: 30px;
    transition: 0.5s;
}
.pay:hover{
    border: 1px solid rgb(12, 77, 69);
    background: none;
    color: rgb(12, 77, 69);
}
@media (max-width:400px) {
      .hero-section{
        flex-direction: column;
        margin-top: 50px;
        padding: 20px;
        width: 100%;
      }  
      .product{
        display: none;
      }
      .topic{
        font-size: 3em;
      }
      .right{
        width: 80%;
        margin-top: 50px;
      }
      body{
        width: 100%;
        overflow-x: hidden;
        margin: 0;
        -webkit-text-size-adjust: 100%;
        height: 100%;
      }
}